<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h4>INSTITUTIONAL PARTNERSHIP</h4>
            </div>
        </div>
        <ul class="grid grid-3-columns">
            <li>
                <a href="#"><img src="https://s3-csis-web.s3.ap-southeast-1.amazonaws.com/static/web/images/about/pecc.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="#"><img src="https://s3-csis-web.s3.ap-southeast-1.amazonaws.com/static/web/images/about/caec.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="#"><img src="https://s3-csis-web.s3.ap-southeast-1.amazonaws.com/static/web/images/about/cscap.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="#"><img src="https://s3-csis-web.s3.ap-southeast-1.amazonaws.com/static/web/images/about/aef.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="#"><img src="https://s3-csis-web.s3.ap-southeast-1.amazonaws.com/static/web/images/about/centro.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="#"><img src="https://s3-csis-web.s3.ap-southeast-1.amazonaws.com/static/web/images/about/aseanisis.jpg" alt="">
                </a>
            </li>
        </ul>
    </div>
</section>
<!-- end: Page Content -->
<!-- Footer -->