{% extends 'web/base.html' %}
{% load static %}

{% block css %}
<style>
    #mainMenu {
    padding: 0;
    border-bottom: 1px solid #343434 !important;
}
    .dark #mainMenu nav > ul > li > a, #mainMenu.dark nav > ul > li > a {
    color: #4d4949;
}
    .text-right {
        text-align: right !important;
    }
    
    .dark .header-extras .p-dropdown a > span, .dark .header-extras a > i {
    color: #222020;
}
    #images-pub {
        padding: 0px 0;
    }
    .center-cropped {
        object-fit: none; /* Do not scale the image */
        object-position: center; /* Center the image within the element */
        height: 500px;
        width: 100%;
        }
</style>
{% endblock %}


{% block content %}
        <!-- 404 PAGE -->
        <section class="m-t-80 p-b-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="page-error-404">404</div>
                    </div>
                    <div class="col-lg-6">
                        <div class="text-start">
                            <h1 class="text-medium">Ooops, This Page Could Not Be Found!</h1>
                            <p class="lead">The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.</p>
                            <div class="seperator m-t-20 m-b-20"></div>
                            <div class="search-form">
                                <p>Please try searching again</p>
                                <form action="search-results-page.html" method="get" class="form-inline">
                                    <div class="input-group input-group-lg">
                                        <input type="text" aria-required="true" name="q" class="form-control widget-search-form" placeholder="Search for pages...">
                                        <button type="submit" id="widget-widget-search-form-button" class="btn btn-primary"><i class="fa fa-search"></i></button>
                                        </span>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
        <!-- end:  404 PAGE -->
        <!-- Footer -->
  {% endblock %}