{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Centre for Strategic and International Studies" />
    <meta name="description" content="Centre for Strategic and International Studies">
    <link rel="icon" type="image/png" href="https://s3-csis-web.s3.amazonaws.com/static/web/images/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Primary Meta Tags -->
    <title>Centre for Strategic and International Studies</title>
    <meta name="title" content="Centre for Strategic and International Studies">
    <meta name="description" content="With Meta Tags you can edit and experiment with your content then preview how your webpage will look on Google, Facebook, Twitter and more!">

    {% block OG %}
    {% endblock %}
    <!-- AWS Stylesheets & Fonts -->
    <link href="https://s3-csis-web.s3.ap-southeast-1.amazonaws.com/static/web/css/plugins.css" rel="stylesheet">
    <link href="https://s3-csis-web.s3.ap-southeast-1.amazonaws.com/static/web/css/style.css" rel="stylesheet">
    <link href="https://s3-csis-web.s3.ap-southeast-1.amazonaws.com/static/web/css/custom.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

    <!--AWS-->

    <!--local Stylesheets & Fonts>
    <link href="{% static 'web/css/plugins.css' %}" rel="stylesheet">
    <link href="{% static 'web/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'web/css/custom.css' %}" rel="stylesheet">
    {% block css %}
    {% endblock css %}
    <local Stylesheets & Fonts -->


  
</head>

<body>

    <div class="body-inner">

        <header id="header" data-transparent="true" data-fullwidth="true" class="dark submenu-light">
            <div class="header-inner">
                <div class="container">
                    <!--Logo-->
                    <div id="logo"> <a href="{% url 'home' %}"> <span class="logo-default"><img src="https://s3-csis-web.s3.amazonaws.com/static/web/logo.png" style="height: 60px;"></span><span class="logo-dark"><img src="https://s3-csis-web.s3.amazonaws.com/static/web/Logo-White.png" style="height: 60px;"></span></a> </div>
                    <!--End: Logo-->
                    <!-- Search -->
                    <div id="search"><a id="btn-search-close" class="btn-search-close" aria-label="Close search form"><i class="icon-x"></i></a>
                        <form class="search-form" action="search-results-page.html" method="get">
                            <input class="form-control" name="q" type="text" placeholder="Type & Search..." />
                            <span class="text-muted">Start typing & press "Enter" or "ESC" to close</span>
                        </form>
                    </div>
                    <!-- end: search -->
                    <!--Header Extras-->
                    <div class="header-extras">
                        <ul>
                            <li>
                                <a id="btn-search" href="#"> <i class="icon-search"></i></a>
                            </li>
                            <li>
                                <div class="p-dropdown"> <a href="#"><i class="icon-globe"></i><span>EN</span></a>
                                    <ul class="p-dropdown-content">
                                        <li><a href="#">Indonesia</a></li>
                                        <li><a href="#">English</a></li>
                                    </ul>
                                </div>
                            </li>
                            
                        </ul>
                    </div>
                    <!--end: Header Extras-->
                    <!--Navigation Resposnive Trigger-->
                    <div id="mainMenu-trigger"> <a class="lines-button x"><span class="lines"></span></a> </div>
                    <!--end: Navigation Resposnive Trigger-->
                    <!--Navigation-->
                    <div id="mainMenu" class="menu-center">
                        <div class="container">
                            <nav>
                                <ul>
                                    <li class="dropdown"><a href="#">Research</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="{% url 'project' %}">Projects</a></li>
                                            <li><a href="{% url 'researcher' %}">Scholars</a></li>
                                            <li class="dropdown-submenu"><span class="dropdown-menu-title-only">Departments</span>
                                                <ul class="dropdown-menu">
                                                    {% for c in menu_dep %}
                                                    <li><a href="/department/{{c.name|slugify}}">{{c.name}}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown mega-menu-item"><a href="#">Publications</a>
                                        <ul class="dropdown-menu">
                                            <li class="mega-menu-content">
                                                <div class="row">
                                                    <div class="col-lg-2-5 p-l-0 pb">
                                                        {% for f in recent_pub %}
                                                        <img src="https://s3-csis-web.s3.ap-southeast-1.amazonaws.com/static/{{f.image}}" class="text-theme" style="width: 200px; padding-bottom: 10px;">
                                                        <h4 style="color: black !important;">{{f.title}}</h3>
                                                        <p class="m-b-0">{{f.description | safe | truncatewords_html:8}}</p>
                                                        {% endfor %}
                                                    </div>  
                                                    <div class="col-lg-2-5">
                                                        <ul>
                                                            <li class="mega-menu-title">Recent Publications</li>
                                                            {% for e in menu_pub %}
                                                            <li><a href="/publication/{{e.title | slugify}}">{{ e.title }}</a></li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                    <div class="col-lg-2-5">
                                                        <ul>
                                                            <li class="mega-menu-title">Commentaries</li>
                                                            {% for d in menu_commentaries %}
                                                            <li><a href="/publication/{{d.title|slugify}}">{{d.title}}</a></li>
                                                            {% endfor %}
                                                          
                                                            <li class="mega-menu-title">Covid-19 Commentaries</li>
                                                            {% for d in menu_covid %}
                                                            <li><a href="/publication/{{d.title|slugify}}">{{d.title}}</a></li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                    <div class="col-lg-2-5">
                                                        <ul>
                                                            <li class="mega-menu-title">Policy Briefs</li>
                                                            {% for d in menu_policy_brief %}
                                                            <li><a href="/publication/{{d.title|slugify}}">{{d.title}}</a></li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                    <div class="col-lg-2-5">
                                                        <ul>
                                                            <a href="{% url 'publication' %}"><li class="mega-menu-title">All Publications</li></a>
                                                            {% for d in cat %}
                                                            <a href="/publications/{{d.name | slugify}}"><li class="mega-menu-title">{{d.name}}</li></a>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                    
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="{% url 'event' %}">Events</a></li>
                                    <li><a href="{% url 'news' %}">News</a></li>
                                    <li class="dropdown"><a href="#">Dashboard</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="https://covid19.csis.or.id/">COVID-19 Dashboard</a></li>
                                            <li><a href="https://dashboard.csis.or.id/hatespeech/">Hatespeech Dashboard</a></li>
                                        </ul>    
                                    <li class="dropdown"><a href="#">About</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="{% url 'about' %}">About CSIS</a></li>
                                            <li><a href="{% url 'about' %}">Board of Excecutive Directors</a></li>
                                            <li><a href="{% url 'about' %}">CSIS Foundation</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--end: Navigation-->
                </div>
            </div>
        </header>
        <!-- end: Header -->



    {% block content %}
    {% endblock %}

    <footer id="footer">
        <div class="footer-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="widget">

                            <div class="widget-title">Centre for strategic and international Studies</div>
                            <p class="mb-5 text-white">Pakarti Centre Building, Jl. Tanah Abang 3 No. 23-27, Jakarta 10160, Indonesia</p>
                            <p class="mb-5 text-white">+62 21 386 5532 <br>csis@csis.or.id</p>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="widget">
                                    <div class="widget-title">Publications</div>
                                    <ul class="list">
                                        <a href="{% url 'publication' %}"><li class="mega-menu-title">All Publications</li></a>
                                        {% for d in cat %}
                                        <a href="/publications/{{d.name | slugify}}"><li class="mega-menu-title">{{d.name}}</li></a>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="widget">
                                    <div class="widget-title">Features</div>
                                    <ul class="list">
                                        <li><a href="#">Layouts</a></li>
                                        <li><a href="#">Headers</a></li>
                                        <li><a href="#">Widgets</a></li>
                                        <li><a href="#">Footers</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="widget">
                                    <div class="widget-title">Pages</div>
                                    <ul class="list">
                                        <li><a href="#">Portfolio</a></li>
                                        <li><a href="#">Blog</a></li>
                                        <li><a href="#">Shop</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="widget">
                                    <div class="widget-title">Social Media</div>
                                    <ul class="list">
                                        <li><a href="#">Facebook</a></li>
                                        <li><a href="#">Instagram</a></li>
                                        <li><a href="#">Linkedin</a></li>
                                        <li><a href="#">Twitter</a></li>
                                        <li><a href="#">YouTube</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="copyright-content">
            <div class="container">
                <div class="copyright-text text-center">&copy; 2022 Centre for Strategic and International Studies. All Rights Reserved.<a href="https://www.inspiro-media.com" target="_blank" rel="noopener"> INSPIRO</a> </div>
            </div>
        </div>
    </footer>
    <!-- end: Footer -->

</div>
<!-- end: Body Inner -->

<!-- Scroll top -->
<a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
<!--Plugins-->
<script src="https://s3-csis-web.s3.ap-southeast-1.amazonaws.com/static/web/js/jquery.js"></script>
<script src="https://s3-csis-web.s3.ap-southeast-1.amazonaws.com/static/web/js/plugins.js"></script>



<!--Template functions-->
<script src="https://s3-csis-web.s3.ap-southeast-1.amazonaws.com/static/web/js/functions.js"></script>

</body>

</html>