
{% extends 'web/base.html' %}
{% load static %}


{% block OG %}    <!-- Open Graph / Facebook -->
    <title>Department of {{Dept.name}}</title>
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.get_full_path }}">
    <meta property="og:title" content="Centre for Strategic and International Studies">
    <meta property="og:description" content="The Centre for Strategic and International Studies (CSIS) in Jakarta is an independent, non-profit organisation focusing on policy-oriented studies on domestic and international issues. It was established in 1971.">
    <meta property="og:image" content="https://s3-csis-web.s3.amazonaws.com/static/web/logo.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="CSIS Events">
    <meta property="twitter:url" content="{{ request.get_full_path }}">
    <meta property="twitter:title" content="Centre for Strategic and International Studies">
    <meta property="twitter:description" content="The Centre for Strategic and International Studies (CSIS) in Jakarta is an independent, non-profit organisation focusing on policy-oriented studies on domestic and international issues. It was established in 1971.">
    <meta property="twitter:image" content="https://s3-csis-web.s3.amazonaws.com/static/web/logo.png">
        <!-- Document title -->
{% endblock OG%}

{% block content %}
        <section id="page-title" style="background-image: 
                                            linear-gradient(90deg, rgba(3,1,2,1) 10%, rgba(34,23,17,0.24693627450980393) 72%),
                                            {% if Dept.image %}
                                                url('https://s3-csis-web.s3.ap-southeast-1.amazonaws.com/{{Dept.image}}');
                                            {% else %}
                                                url('{% static 'web/bg/publications.jpeg' %}'); 
                                            {% endif %}
                                            width: 100%; 
                                            background-size: cover;"">
            <div class="container">
                <div class="page-title text-white text-center" >
                    <h2>{{Dept.name}}</h2>
                </div>
            </div>
        </section>
        <!-- Page Content -->
        <section id="page-content" class="sidebar-right">
            <div class="container">
                <div class="row">
                    <!-- content -->
                    <div class="content col-lg-12">
                        <!-- Blog -->
                        <div id="blog" class="single-post">
                            <!-- Post single item-->
                            <div class="post-item">
                                <div class="post-item-wrap">
                                    
                                    <div class="post-item-description">
                                        
                                        <span class="text-justify">{{Dept.description | safe}}</span>
                                    </div>
                                                                  
                                </div>
                            </div>
                            <!-- end: Post single item-->
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="page-content" class="sidebar-right" style="background-color: #69696917;">
            <div class="container">
                        <div id="blog" class="grid-layout col-lg-12 pt-5" data-item="post-item">
                            <!-- Post item-->
                            <div class="post-item ">
                                <h2 class="pb-5">Department's Scholars</h2>
                                <div class="row">
                                    {% for a in lead %}
                                    <div class="post-item-wrap col-lg-3">
                                        <div class="post-image">
                                            <a href="/scholar/{{a.name | slugify}}">
                                                <img alt="" src="{{a.profile_img}}" >
                                            </a>
                                            
                                        </div>
                                        <div class="post-item-description-2">
                                            <h2 class="pb-0"><a href="/scholar/{{a.name | slugify}}">{{a.name}}</a></h2>
                                            <p class="pb-4">{{a.position}}</p>
                                        </div>
                                        <div class="line-bottom" style="position:absolute; bottom: 0px;"></div>
                                    </div>
                                    {% endfor %}
                                    {% for a in Scholars %}
                                    <div class="post-item-wrap col-lg-3">
                                        <div class="post-image">
                                            <a href="/scholar/{{a.name | slugify}}">
                                                <img alt="" src="{{a.profile_img}}" >
                                            </a>
                                            
                                        </div>
                                        <div class="post-item-description-2">
                                            <h2 class="pb-0"><a href="/scholar/{{a.name | slugify}}">{{a.name}}</a></h2>
                                            <p class="pb-4">{{a.position}}</p>
                                        </div>
                                        <div class="line-bottom" style="position:absolute; bottom: 0px;"></div>
                                    </div>
                                    {% endfor %}
                            </div>
                            </div>
                        </div>
                    </div>
        </section>
        
        <section id="page-content" class="sidebar-right" >
            <div class="container">
                <div id="blog" class="grid-layout col-lg-12 pt-5" data-item="post-item">
                    <div class="post-item ">
                        <h2 class="pb-5">Publications</h2>
                        <div class="row">
                            {% for a in Dept.publications %}
                                <div class="post-item-wrap col-lg-3 bg-slate-200">
                                        <div class="post-image">
                                            <a href="/publication/{{a.title | slugify}}">
                                                <img alt="" src="https://s3-csis-web.s3.ap-southeast-1.amazonaws.com/{{a.image}}" >
                                            </a>
                                        </div>
                                        <div class="post-item-description-2">
                                            <p>{{a.category}}</p>
                                            <h2><a href="/publication/{{a.title | slugify}}">{{a.title}}</a></h2>
                                            <p class="pb-4">{% for b in a.authors.all %}{% if forloop.first %}{% else %}{% if forloop.last %} and {% else %}, {% endif %}{% endif %}{{b.name}}{% endfor %}</p>
                                        </div>
                                        <div class="line-bottom" style="position:absolute; bottom: 0px;"></div>
                                </div>
                            {% endfor %}
                            <div class="col-lg-3">
                                <div class="grid-item">
                                    <div class="grid-item-wrap">
                                        <div class="grid-image">
                                            <img alt="Image Lightbox" src="{% static 'web/images/landscape_putih.png' %}" />
                                        </div>

                                        <div class="grid-description">
                                                <a href="/publications/filter/?dept_contains=International+Relations&author_contains=&category_contains=" class="btn btn-light btn-roundeded">Show All</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            
                        </div>
                    </div>
                                <!-- end: Post item-->
                                
                </div>
            </div>
        </section>

        {% if Dept.events %}
        <section id="page-content" class="sidebar-right" style="background-color: #69696917;">
            <div class="container">
                <div id="blog" class="grid-layout col-lg-12 pt-5" data-item="post-item">
                    <div class="post-item ">
                        <h2>Events</h2>
                        <div class="row">
                            {% for a in Dept.events %}
                                <div class="post-item-wrap col-lg-3 bg-slate-200">
                                        <div class="post-image pt-4">
                                            <a href="/event/{{a.title | slugify}}">
                                                <img alt="" src="https://s3-csis-web.s3.ap-southeast-1.amazonaws.com/{{a.image}}" >
                                            </a>
                                        </div>
                                        <div class="post-item-description-2">
                                            <p>{{a.date_start |date:"d b Y"}}</p>
                                            <h2><a href="/event/{{a.title | slugify}}">{{a.title}}</a></h2>
                                        </div>
                                        <div class="line-bottom" style="position:absolute; bottom: 0px;"></div>
                                </div>
                            {% endfor %}

                            <div class="col-lg-3">
                                <div class="grid-item">
                                    <div class="grid-item-wrap pt-4">
                                        <div class="grid-image" >
                                            <img alt="Image Lightbox" src="{% static 'web/images/portrait_putih.png' %}" />
                                        </div>
                                        <div class="grid-description">
                                            <a href="{% url 'event' %}" class="btn btn-light btn-roundeded">All events</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            
                        </div>
                    </div>
                                <!-- end: Post item-->
                                
                </div>
            </div>
        </section>
        {% endif%}
        <!-- end: Page Content -->

        {% if Dept.projects %}
        <section id="page-content" class="sidebar-right">
            <div class="container">
                <div id="blog" class="grid-layout col-lg-12 pt-0" data-item="post-item">
                    
                    <div class="post-item ">
                        <h2 class="pb-5">Projects</h2>
                        <div class="row">
                            {% for a in Dept.projects %}
                                <div class="post-item-wrap col-lg-3 bg-slate-200">
                                        <div class="post-image">
                                            <a href="/project/{{a.title | slugify}}">
                                                <img alt="" src="https://s3-csis-web.s3.ap-southeast-1.amazonaws.com/{{a.image}}" >
                                            </a>
                                        </div>
                                        <div class="post-item-description-2">
                                            
                                            <h2><a href="/project/{{a.title | slugify}}">{{a.title}}</a></h2>
                                            
                                        </div>
                                        <div class="line-bottom" style="position:absolute; bottom: 0px;"></div>
                                </div>
                            {% endfor %}
                            {% if Dept.projects.count > 7 %}
                            <div class="col-lg-3">
                                <div class="grid-item">
                                    <div class="grid-item-wrap">
                                        <div class="grid-image">
                                            <img alt="Image Lightbox" src="{% static 'web/images/landscape_putih.png' %}" />
                                        </div>

                                        <div class="grid-description">
                                                <a href="/publications/filter/?dept_contains=International+Relations&author_contains=&category_contains=" class="btn btn-light btn-roundeded">Show All</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            
                        </div>
                    </div>
                                <!-- end: Post item-->
                                
                </div>
            </div>
        </section>
        {% endif %}
        <!-- Footer -->
 {% endblock %}