{% extends 'web/base.html' %}
{% load static %}
{% load embed_video_tags %}

{% block OG %}    <!-- Open Graph / Facebook -->
    <title>{{acara.title}}</title>

    <meta property="og:image" content="https://s3-csis-web.s3.ap-southeast-1.amazonaws.com/{{publications.image}}" />
    <meta property="og:image:secure_url" content="{{ request.get_full_path }}" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="300" />
    <meta property="og:image:alt" content="{{publications.description | safe| truncatewords_html:10}}" />

    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.get_full_path }}">
    <meta property="og:title" content="{{acara.title}}">
    <meta property="og:description" content="{{acara.description | striptags  | truncatewords_html:20}}">
    <meta property="og:image" content="https://s3-csis-web.s3.ap-southeast-1.amazonaws.com/{{acara.image}}">

    <!-- Twitter -->
    <meta property="twitter:card" content="CSIS Events">
    <meta property="twitter:url" content="{{ request.get_full_path }}">
    <meta property="twitter:title" content="{{acara.title}}">
    <meta property="twitter:description" content="{{acara.description | striptags | truncatewords_html:50}} ">
    <meta property="twitter:image" content="https://s3-csis-web.s3.ap-southeast-1.amazonaws.com/{{acara.image}}">
        <!-- Document title -->
{% endblock OG%}

{% block css %}
<style>
    #mainMenu {
    padding: 0;
    border-bottom: 1px solid #4f4f4f !important;
    }
    
    .dark #mainMenu nav > ul > li > a, #mainMenu.dark nav > ul > li > a {
    color: #4d4949;
    }

    .text-right {
        text-align: right !important;
    }
    
    .dark .header-extras .p-dropdown a > span, .dark .header-extras a > i {
    color: #222020;
    }

    #images-pub {
        padding: 0px 0;
    }

    .center-cropped {
        object-fit: none; /* Do not scale the image */
        object-position: center; /* Center the image within the element */
        height: 500px;
        width: 100%;
        }
</style>
{% endblock %}



{% block content %}
        <section id="page-title" style="background-color:#ffffff; width: 100%">
            <div class="container">
                <div class="page-title text-black text-left " >
                    <h2 class="text-bold col-md-10">{{acara.title}}</h2>
                    <h4 class="post-meta-date">
                        
                        {% if acara.date_end %}
                        <small>Event date and time :</small><br>
                            <span>{{acara.tgl}} |</span>
                        {% else %}
                        <small>Start event :</small><br>
                            {{acara.tgl_one_day}} |
                        {% endif %}                         
                        <span>{{acara.time_start |time:'H:i'}} - {{acara.time_end |time:'H:i'}} (UTC+7)</span>
                        <br>
                        {% if acara.location %}
                        <small>Location :</small><br>
                        <span>{{ acara.location }}</span>
                        {% endif %}

                    </h4>
                </div>
            </div>
        </section>

        <section id="page-content" class="sidebar-right">
            <div class="container">
                <div class="row">
                    <!-- content -->
                    <div class="content col-lg-8">
                        <!-- Blog -->
                        <div id="blog" class="single-post">
                            <!-- Post single item-->
                            <div class="post-item">
                                <div class="post-item-wrap">
                                    <div class="post-video">
                                        {% video acara.youtube '600x400' %}
                                    </div>
                                    <div class="post-item-description">
                                        <div class="post-meta">
                                            <div class="post-meta-share">
                                                <a class="btn btn-xs btn-slide btn-facebook" href="https://www.facebook.com/sharer/sharer.php?u=https://csis.or.id/event/{{ acara.title |slugify }}">
                                                    <i class="fab fa-facebook-f"></i>
                                                    <span>Facebook</span>
                                                </a>
                                                <a class="btn btn-xs btn-slide btn-twitter" href="https://twitter.com/share?text={{ acara.title }}&url=http://csis.or.id/event/{{ acara.title|slugify }}&via=csisindonesia" data-width="100">
                                                    <i class="fab fa-twitter"></i>
                                                    <span>Twitter</span>
                                                </a>
                                                <a class="btn btn-xs btn-slide btn-instagram" href="https://api.whatsapp.com/send?text={{ acara.title }} https://csis.or.id/event/{{ acara.title |slugify }}" data-width="118">
                                                    <i class="fab fa-whatsapp"></i>
                                                    <span>Whatsapp</span>
                                                </a>
                                                <a class="btn btn-xs btn-slide btn-mail" href="mailto:?subject={{ acara.title }}&body={{ acara.title }} - https://csis.or.id/event/{{ acara.title |slugify }}" data-width="80">
                                                    <i class="icon-mail"></i>
                                                    <span>Mail</span>
                                                </a>
                                            </div>
                                        </div>
                                        <h4>Descriptions</h4>  
                                        <div class="text-justify">{{acara.description | safe}}</div>
                                        
                                        {% if acara.Person_In_Charge %}
                                        <h4>For more questions</h4>
                                        <p>please contact <a href="mailto:{{acara.Person_In_Charge}}">{{acara.Person_In_Charge}}</a> for more details.</a></p>
                                        {% endif %}

                                        <hr>
                                        <div id="blog" class="grid-layout col-lg-12 pt-5 " data-item="post-item">

                                            <div class="post-item ">
                                                <div class="row">
                                                    {% if acara.opening_speech.all %}
                                                        {% for a in acara.opening_speech.all %}
                                                        <div class="post-item-wrap col-lg-3">
                                                           <p><b>Welcoming Remarks</b></p>
                                                            <div class="post-image">
                                                                <a href="{% if a.profile_url %}{{ a.profile_url }}{% else %}{{ empty }}{% endif %}">

                                                                    <img alt="" src="{{a.profile_img}}" >

                                                                </a>

                                                            </div>
                                                            <div class="post-item-description-2">
                                                                <h4 class="pb-0" style="font-size: smaller;"><a href="{% if a.profile_url %}{{ a.profile_url }}{% else %}{{ empty }}{% endif %}">{{a.name}}</a></h4>
                                                                <p class="pb-4" style="font-size: smaller;">{{a.position}} <br> {{a.organization}}</p>
                                                            </div>
                                                        </div>
                                                        {% endfor %}
                                                    {% endif %}

                                                    {% if acara.closing_remarks.all %}
                                                        {% for a in acara.closing_remarks.all %}
                                                        <div class="post-item-wrap col-lg-3">
                                                            <p><b>Closing Remarks</b></p>
                                                            <div class="post-image">
                                                                <a href="{% if a.profile_url %}{{ a.profile_url }}{% else %}{{ empty }}{% endif %}">
                                                                    <img alt="" src="{{ a.profile_img }}" >
                                                                </a>

                                                            </div>
                                                            <div class="post-item-description-2">
                                                                <h4 class="pb-0" style="font-size: smaller;"><a href="/scholar/{{a.name | slugify}}">{{a.name}}</a></h4>
                                                                <p class="pb-4" style="font-size: smaller;">{{a.position}} <br> {{a.organization}}</p>
                                                            </div>
                                                        </div>
                                                        {% endfor %}
                                                    {% endif %}

                                                    {% if acara.Moderator %}
                                                    <div class="post-item-wrap col-lg-3">
                                                        <p><b>Moderator</b></p>
                                                        <div class="post-image">
                                                            <a href={% if acara.Moderator.category == 'Scholar' %}"/scholar/{{acara.Moderator.name | slugify}}"{% elif acara.Moderator.category == 'Colleague' %} "{{ acara.Moderator.external_profile }}" {% else %} "#" {% endif %}>
                                                                {% if acara.Moderator.photo %}
                                                                    <img alt="" src="https://s3-csis-web.s3.ap-southeast-1.amazonaws.com/static/{{acara.Moderator.photo}}" >
                                                                {% else %}
                                                                    <img src="https://s3-csis-web.s3.ap-southeast-1.amazonaws.com/static/web/avatar.png">
                                                                {% endif %}

                                                            </a>
                                                            
                                                        </div>
                                                        <div class="post-item-description-2">
                                                            <h4 class="pb-0" style="font-size: smaller;"><a href="{% if acara.Moderator.category == 'Scholar' %}"/scholar/{{acara.Moderator.name | slugify}}"{% elif acara.Moderator.category == 'Colleague' %} "{{ acara.Moderator.external_profile }}" {% else %} "#" {% endif %}">{{acara.Moderator.name}}</a></h4>
                                                            <p class="pb-4" style="font-size: smaller;">{{acara.Moderator.position}} <br> {{acara.Moderator.organization}}</p>
                                                        </div>
                                                    </div>
                                                    
                                                    {% endif %}
                                                </div>
                                            </div>

                                            <!-- Post item-->
                                            <div class="post-item ">
                                                <div class="row">
                                                    {% if acara.speaker.all %}
                                                    <h4>Speakers</h4>
                                                        {% for a in acara.speaker.all %}
                                                        <div class="post-item-wrap col-lg-3">
                                                            <div class="post-image">
                                                                <a href="{% if a.profile_url %}{{ a.profile_url }}{% else %}{{ empty }}{% endif %}">
                                                                    <img alt="" src="{{ a.profile_img }}" >

                                                                </a>

                                                            </div>
                                                            <div class="post-item-description-2">
                                                                <h4 class="pb-0" style="font-size: smaller;"><a href="{% if a.profile_url %}{{ a.profile_url }}{% else %}{{ empty }}{% endif %}">{{a.name}}</a></h4>
                                                                <p class="pb-4" style="font-size: smaller;">{{a.position}} <br> {{a.organization}}</p>
                                                            </div>

                                                        </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <h3 class="p-5">Event Session</h2>
                                        <div class="toggle accordion accordion-simple pb-5">
                                            <div class="ac-item">
                                                <h5 class="ac-title">Session 1: Lorem Ipsum dolor sit amet | 23 Mar 2022 6:00 PM</h5>
                                                <div class="ac-content">
                                                    <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                                                    <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect
                                                        my talents. I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now. </p>
                                                </div>
                                            </div>
                                            <div class="ac-item">
                                                <h5 class="ac-title"> Session 2: Lorem ipsum dolor sit amet consectetur adipisicing elit.</h5>
                                                <div class="ac-content">
                                                    <i class="icon-calendar"></i>  24 Mar 2022 - 6:00 PM |  <i class="icon-external-link"></i>  register
                                                    <hr>
                                                    
                                                        <div class="row">
                                                            {% if acara.opening_speech.all %}
                                                                {% for a in acara.opening_speech.all %}
                                                                <div class="post-item-wrap col-lg-3">
                                                                   <p><b>Welcoming Remarks</b></p>
                                                                    <div class="post-image">
                                                                        <a href="{% if a.profile_url %}{{ a.profile_url }}{% else %}{{ empty }}{% endif %}">
        
                                                                            <img alt="" src="{{a.profile_img}}" >
        
                                                                        </a>
        
                                                                    </div>
                                                                    <div class="post-item-description-2">
                                                                        <h4 class="pb-0" style="font-size: smaller;"><a href="{% if a.profile_url %}{{ a.profile_url }}{% else %}{{ empty }}{% endif %}">{{a.name}}</a></h4>
                                                                        <p class="pb-4" style="font-size: smaller;">{{a.position}} <br> {{a.organization}}</p>
                                                                    </div>
                                                                </div>
                                                                {% endfor %}
                                                            {% endif %}
        
                                                            
        
                                                        </div>
                                                      
                                                </div>
                                            </div>
                                            <div class="ac-item">
                                                <h5 class="ac-title"> Session 3: Quae, voluptate deleniti? Dolores adipisci esse  | 24 Mar 2022 6:00 PM</h5>
                                                <div class="ac-content">
                                                    <i class="icon-calendar"></i>  24 Mar 2022 - 6:00 PM |  <i class="icon-external-link"></i>  register
                                                    <hr>
                                                    
                                                        <div class="row">
                                                            {% if acara.opening_speech.all %}
                                                                {% for a in acara.opening_speech.all %}
                                                                <div class="post-item-wrap col-lg-3">
                                                                   <p><b>Welcoming Remarks</b></p>
                                                                    <div class="post-image">
                                                                        <a href="{% if a.profile_url %}{{ a.profile_url }}{% else %}{{ empty }}{% endif %}">
        
                                                                            <img alt="" src="{{a.profile_img}}" >
        
                                                                        </a>
        
                                                                    </div>
                                                                    <div class="post-item-description-2">
                                                                        <h4 class="pb-0" style="font-size: smaller;"><a href="{% if a.profile_url %}{{ a.profile_url }}{% else %}{{ empty }}{% endif %}">{{a.name}}</a></h4>
                                                                        <p class="pb-4" style="font-size: smaller;">{{a.position}} <br> {{a.organization}}</p>
                                                                    </div>
                                                                </div>
                                                                {% endfor %}
                                                            {% endif %}
        
                                                            
        
                                                        </div>
                                                      
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div id="blog" class="grid-layout col-lg-12 pt-5 " data-item="post-item">
                                            <!-- Post item-->
                                            <div class="post-item ">
                                                <div class="row">
                                                    {% if acara.partner.all %}
                                                    <h4 class="p-b-10">Partner(s) :</h4>

                                                        {% for a in acara.partner.all %}

                                                        <div class="post-item-wrap col-lg-3">
                                                            <div class="post-image">
                                                                <a href="{% if a.profile_url %}{{ a.profile_url }}{% else %}{{ empty }}{% endif %}">
                                                                    <img alt="" src="{{ a.profile_img }}" style="max-height: 50px;">
                                                                </a>

                                                            </div>
                                                            <div class="post-item-description-2">
                                                                <h4 class="pb-0" style="font-size: smaller;"><a href="{% if a.profile_url %}{{ a.profile_url }}{% else %}{{ empty }}{% endif %}">{{a.name}}</a></h4>
                                                            </div>

                                                        </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                       
                                    </div>
                                    
                                    
                                </div>
                            </div>
                            <!-- end: Post single item-->
                        </div>
                    </div>
                    <!-- end: content -->
                    <!-- Sidebar-->
                    <div class="sidebar sticky-sidebar col-lg-4">
                        
                        <!--end: widget newsletter-->
                        <div class="side-video">
                            <img src="https://s3-csis-web.s3.ap-southeast-1.amazonaws.com/{{acara.image}}" class="side-img" alt="">
                        </div>

                        <div class="btn-csis">
                            <a href="{{acara.link}}"><button  type="button" class="btn btn-primary btn-block side-video">Register</button></a>
                            {% if acara.file %}
                            <a href="https://s3-csis-web.s3.ap-southeast-1.amazonaws.com/{{ acara.file }}"><button  type="button" class="btn btn-primary btn-block side-video">Download</button></a>
                            {% endif %}
                        </div>
                        <!--Tabs with Posts-->
                        <div class="widget">
                            <div class="tabs">
                                <ul class="nav nav-tabs" id="tabs-posts" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#related" role="tab" aria-controls="related" aria-selected="true">Latest Events</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#recent" role="tab" aria-controls="recent" aria-selected="false">Related Events</a>
                                    </li>
                                    
                                </ul>
                                <div class="tab-content" id="tabs-posts-content">
                                    <div class="tab-pane fade show active" id="related" role="tabpanel" aria-labelledby="popular-tab">
                                        <div class="post-thumbnail-list">
                                            {% for a in post_recent %}
                                            <div class="post-thumbnail-entry">
                                                <img alt="" src="https://s3-csis-web.s3.ap-southeast-1.amazonaws.com/{{a.image}}">
                                                <div class="post-thumbnail-content">
                                                    <a href="/event/{{ a.title |slugify }}">{{a.title}}</a>
                                                    <span class="post-date"><i class="icon-clock"></i> {{a.date_created |date:"d b Y"}}</span>
                                                   
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="recent" role="tabpanel" aria-labelledby="recent-tab">
                                        <div class="post-thumbnail-list">
                                            {% for b in  post_related %}  
                                            <div class="post-thumbnail-entry">
                                                <img alt="" src="https://s3-csis-web.s3.ap-southeast-1.amazonaws.com/{{b.image}}">
                                                <div class="post-thumbnail-content">
                                                    <a href="/event/{{ b.title |slugify }}">{{b.title}}</a>
                                                    <span class="post-date"><i class="icon-clock"></i> {{b.date_created |date:"d b Y"}}</span>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End: Tabs with Posts-->
                        
                        
                    </div>
                    <!-- end: Sidebar-->
                </div>
            </div>
        </section>
        <!-- end: Page Content -->
        <!-- Footer -->
 {% endblock %}