{% extends 'web/base.html' %}
{% load static %}

{% block OG %}    <!-- Open Graph / Facebook -->
    <title>CSIS Events</title>
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.get_full_path }}">
    <meta property="og:title" content="Centre for Strategic and International Studies">
    <meta property="og:description" content="The Centre for Strategic and International Studies (CSIS) in Jakarta is an independent, non-profit organisation focusing on policy-oriented studies on domestic and international issues. It was established in 1971.">
    <meta property="og:image" content="https://s3-csis-web.s3.amazonaws.com/static/web/logo.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="CSIS Events">
    <meta property="twitter:url" content="{{ request.get_full_path }}">
    <meta property="twitter:title" content="Centre for Strategic and International Studies">
    <meta property="twitter:description" content="The Centre for Strategic and International Studies (CSIS) in Jakarta is an independent, non-profit organisation focusing on policy-oriented studies on domestic and international issues. It was established in 1971.">
    <meta property="twitter:image" content="https://s3-csis-web.s3.amazonaws.com/static/web/logo.png">
        <!-- Document title -->
{% endblock OG%}

    {% block content %}
        <section id="page-title" style="background-image: linear-gradient(90deg, rgba(3,1,2,1) 10%, rgba(34,23,17,0.24693627450980393) 72%), url('https://s3-csis-web.s3.ap-southeast-1.amazonaws.com/static/web/IMG_3881.jpeg');">
            <div class="container">
                <div class="page-title text-white text-center" >
                    <h2>EVENTS</h2>
                </div>
                
            </div>
        </section>
        <section id="page-content">
            <div class="container">
            <form method="get" formaction="/events/filter/" >
               <div class="row m-b-20 grey-bg p-t-20 shadow-lg rounded-3 p-l-10 p-r-10">

                    <div class="col-lg-3 m-b-20">

                                    <h6>filter by Date</h6>
                                    <div class="input-group" id="form_daterangepicker_2">

                                        <input type="text" class="form-control" placeholder="Select date range" />
                                        <div class="input-group-text btn btn-light"><i class="icon-calendar"></i></div>
                                    </div>

                    </div>

                    <div class="col-lg-3">
                        <div class="order-select">
                            <h6>filter by Researcher</h6>

                            <select class="form-select" name="author_contains" id="author_contains">
                                    <option value="" selected="selected">----</option>
                                    {% for a in Scholars %}
                                    <option value="{{a.name}}">{{a.name}}</option>
                                    {% endfor %}
                                </select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="order-select">
                            <h6>filter by Department</h6>
                             <select class="form-select" name="dept_contains" id="dept_contains">
                                    <option value="" selected="selected">----</option>
                                    {% for a in Dept%}
                                    <option value="{{a.name}}">{{a.name}}</option>
                                    {% endfor %}
                                </select>
                        </div>
                    </div>
                     <div class="col-lg-3">
                        <div class="order-select">
                            <h6>Search</h6>

                            <button  type="submit" value="search" formaction="/events/filter/" class="btn btn-primary btn-block side-video">Submit</button>
                        </div>
                    </div>

                </div>
            </form>

                <!-- Blog -->
                <div id="blog" class="grid-layout post-thumbnails m-b-30 pt-5" data-item="post-item">
                    {% for a in acara %}<!-- Post item-->
                    <div class="post-item border">
                            <div class="row">
                                <div class="col-lg-2 col-md-2">
                                    <h4>{{a.date_start |date:"d b Y"}}</h4>
                                    <small>{{a.time_start |time:'H:i'}} - {{a.time_end |time:'H:i'}} (UTC+7)</small>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    
                                        <h4><a href="/event/{{a.title | slugify }}">{{a.title}}</a></h4>
                                        <p>{{a.description | safe | truncatewords_html:30 }}</p>
                                        <a href="/event/{{a.title| slugify }}" class="item-link">Read More <i class="icon-chevron-right"></i></a>
                                        <hr>
                                        {% if a.speaker.all %}
                                        <h5><b>Speakers</b></h5>
                                        <p>{% for b in a.speaker.all %} {% if forloop.first %}{% else %}{% if forloop.last %} and {% else %}, {% endif %}{% endif %}{{b.name}} {% endfor %}</p>
                                        {% endif %}

                                </div>
                                <div class="col-lg-4 col-md-4">
                                        <a href="/event/{{a.title | slugify }}">
                                            <img alt="" style="max-width: 75%;" src="https://s3-csis-web.s3.ap-southeast-1.amazonaws.com/{{a.image}}">
                                        </a>
                                </div>
                                <div class="hs"></div>
                            </div>
                    </div>
                    {% endfor %}
                </div>
                
                    <!-- end: Post item-->
                    
                    <!-- Post item-->
                    
            
            
                <!-- end: Blog -->
                <!-- Pagination -->
                <ul class="pagination">
                     {% if acara.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ acara.previous_page_number }}">« Previous page</a></li>

                      {% if acara.number > 3 %}
                          <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
                        {% if acara.number > 4 %}
                            <li class="page-item"><span class="page-link">...</span></li>
                        {% endif %}
                      {% endif %}
                    {% endif %}
                    
                    {% for num in acara.paginator.page_range %}
                      {% if acara.number == num %}
                          <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                      {% elif num > acara.number|add:'-2' and num < acara.number|add:'2' %}
                          <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                      {% endif %}
                    {% endfor %}
                    
                    {% if acara.has_next %}
                      {% if acara.number < acara.paginator.num_pages|add:'-3' %}
                          <li class="page-item"><span class="page-link">...</span></li>
                          <li class="page-item"><a class="page-link" href="?page={{ acara.paginator.num_pages }}">{{ acara.paginator.num_pages }}</a></li>
                      {% elif acara.number < acara.paginator.num_pages|add:'-2' %}
                          <li class="page-item"><a class="page-link" href="?page={{ acara.paginator.num_pages }}">{{ acara.paginator.num_pages }}</a></li>
                      {% endif %}
                    
                        <li class="page-item"><a class="page-link" href="?page={{ acara.next_page_number }}">Next Page »</a></li>
                    {% endif %}
                

                </ul>
                <!-- end: Pagination -->
            </div>
        </section>
{% endblock %}
{% block js %}
        <script src="{% static 'web/include/moment/moment.min.js' %}"></script>
        <script src="{% static 'web/include/daterangepicker/daterangepicker.js' %}"></script>
        <script>
            jQuery(document).ready(function() {
                //form_daterangepicker_1
                $("#form_daterangepicker_1").daterangepicker({});
                //form_daterangepicker_2
                $('#form_daterangepicker_2').daterangepicker({}, function(start, end) {
                    $("#form_daterangepicker_2 .form-control").val(start.format("YYYY-MM-DD") + " - " + end.format("YYYY-MM-DD"));
                });
                //form_daterangepicker_3
                $('#form_daterangepicker_3').daterangepicker({
                    timePicker: true,
                    startDate: moment().startOf('hour'),
                    endDate: moment().startOf('hour').add(32, 'hour'),
                    locale: {
                        format: 'YYYY-MM-DD hh:mm A'
                    }
                }, function(start, end) {
                    $("#form_daterangepicker_3 .form-control").val(start.format("YYYY-MM-DD hh:mm A") + " - " + end.format("YYYY-MM-DD hh:mm A"));
                });
                //form_daterangepicker_4
                $('#form_daterangepicker_4').daterangepicker({
                    timePicker: true,
                    startDate: moment().startOf('hour'),
                    endDate: moment().startOf('hour').add(32, 'hour'),
                    locale: {
                        format: 'YYYY-MM-DD hh:mm A'
                    }
                }, function(start, end) {
                    $("#form_daterangepicker_4 .form-control").val(start.format("YYYY-MM-DD hh:mm A") + " - " + end.format("YYYY-MM-DD hh:mm A"));
                    INSPIRO.elements.notification("A new date & time selection was made: " + start.format('YY-MM-DD hh:mm A') + ' to ' + end.format('YY-MM-DD hh:mm A'));
                });
                //daterangepicker_5
                var start = moment().subtract(29, 'days');
                var end = moment();
                $('#form_daterangepicker_5').daterangepicker({
                    startDate: start,
                    endDate: end,
                    ranges: {
                        'Today': [moment(), moment()],
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    }
                }, function(start, end) {
                    $('#form_daterangepicker_5 .form-control').val(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                });
                //daterangepicker_6
                var start_6 = moment().subtract(29, 'days');
                var end_6 = moment();
                $('#form_daterangepicker_6_span').daterangepicker({
                    startDate: start_6,
                    endDate: end_6,
                    ranges: {
                        'Today': [moment(), moment()],
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    }
                }, function(start_6, end_6) {
                    $('#form_daterangepicker_6_span span').html(start_6.format('MMMM D, YYYY') + ' - ' + end_6.format('MMMM D, YYYY'));
                    $('#form_daterangepicker_6').val(start_6.format('MMMM D, YYYY') + ' - ' + end_6.format('MMMM D, YYYY'));
                });
                //modal code
                //form_daterangepicker_1_modal
                $('#form_daterangepicker_1_modal').daterangepicker({}, function(start, end) {
                    $("#form_daterangepicker_1_modal .form-control").val(start.format("YYYY-MM-DD") + " - " + end.format("YYYY-MM-DD"));
                });
                //form_daterangepicker_2_modal
                $('#form_daterangepicker_2_modal').daterangepicker({
                    timePicker: true,
                    startDate: moment().startOf('hour'),
                    endDate: moment().startOf('hour').add(32, 'hour'),
                    locale: {
                        format: 'YYYY-MM-DD hh:mm A'
                    }
                }, function(start, end) {
                    $("#form_daterangepicker_2_modal .form-control").val(start.format("YYYY-MM-DD hh:mm A") + " - " + end.format("YYYY-MM-DD hh:mm A"));
                });
                //form_daterangepicker_3_modal
                var start_modal = moment().subtract(29, 'days');
                var end_modal = moment();
                $('#form_daterangepicker_3_modal').daterangepicker({
                    startDate: start_modal,
                    endDate: end_modal,
                    ranges: {
                        'Today': [moment(), moment()],
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    }
                }, function(start_6, end_modal) {
                    $('#form_daterangepicker_3_modal .form-control').val(start_modal.format('MMMM D, YYYY') + ' - ' + end_modal.format('MMMM D, YYYY'));
                });
            });
        </script>
        <!--Template functions-->

{% endblock %}