{% extends 'web/base.html' %}
{% load static %}

{% block content %}
        <section id="page-title" style="background-image: linear-gradient(90deg, rgba(3,1,2,1) 10%, rgba(34,23,17,0.24693627450980393) 72%), url('https://s3-csis-web.s3.ap-southeast-1.amazonaws.com/static/web/1.jpeg'); width: 100%; background-size: cover;">
            <div class="container">
                <div class="page-title text-white text-center" >
                    <h4>About Centre for Strategic and International Studies</h4>
                </div>
            </div>
        </section>
        <!-- Page Content -->

        <section id="page-content" class="sidebar-right">
            <div class="container">
                <div class="row">
                    <div class="content col-lg-12">
                        
                        <div class="space"></div>
                        
                        <div class="tabs tabs-clean">
                            <ul class="nav nav-tabs" id="myTab2" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#current-opportunities" role="tab" aria-controls="home" aria-selected="true">Current Opportunities </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#fellowship" role="tab" aria-controls="profile" aria-selected="false">Fellowship</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#internship" role="tab" aria-controls="profile" aria-selected="false">Internship</a>
                                </li>
                                
                            </ul>
                            <div class="tab-content" id="myTabContent2">
                                <div class="tab-pane fade show active text-justify" id="current-opportunities" role="tabpanel" aria-labelledby="bg-tab">
                                    <p>Founded in 1971, the Centre for Strategic and International Studies (CSIS) has won recognition as an important research and policy institution both within Indonesia and internationally. Its development over more than three decades is entwined with the history of Indonesia itself.</p>

                                        <h4>The Beginnings</h4>
                                        
                                        <p> The origins of CSIS lie in discussions and activities in the 1960s undertaken independently by two groups of Indonesian scholars, which comprise of a number of Indonesian graduate students studying abroad and a group of activists within Indonesia. Given the turmoil in Indonesia at that time, both were convinced that insufficient attention was being given to strategic and international studies within Indonesia.</p>
                                        <p> CSIS was established on 1 September  1971. It had the support of the late Ali Moertopo and Soedjono Hoemardani, then personal assistants to the newly elected President Soeharto, and a corporate body, Yayasan Proklamasi (Proclamation Foundation), established to raise the necessary funding. The fledgling organisation numbered six academic staff members and a number of supporting staff.
                                        With rapid expansion in its staff and activities, CSIS quickly outgrew its initial accommodation. Its present building was constructed in 1973 and extended in 1983.
                                        </p>
                                        <h4>International Outlook</h4>
                                        <p> In addition to its core studies in domestic economic and political developments, CSIS has also progressively developed a more international orientation. Bilateral conferences have been organised with a wide range of countries including Japan, the United States, India, France, Soviet Union, South Korea, New Zealand, and Australia.
                                        These have provided the opportunity for dialogue and cooperation in research with individuals in parallel institutions (including government officials in a private capacity) as well as for providing input to foreign policy development within Indonesia.
                                        Since the 1980s CSIS has also increasingly contributed to multilateral regional institutions. These include the ASEAN Institutes of Strategic and International Studies (ISIS), the Pacific Economic Cooperation Council (PECC) and the Council for Security Cooperation in Asia Pacific (CSCAP). All of these multilateral regional institutions aimed at enhancing cooperation in the Asia-Pacific region. Cooperative links with institutions in a number of countries have been a priority.
                                        </p>
                                        <h4>Growing Diversity of Audience</h4>
                                        <p> Since its establishment, CSIS has seen its basic mission in terms of being a vehicle for new and independent ideas particularly within Indonesia. In an era of centralised policy making in the early Soeharto years, this meant (apart from general public education) more of a focus on providing policy advice and ideas direct to government.
                                        With changing developments within Indonesia, CSIS audiences have become steadily more diverse, particularly through the growth in influence of NGOs, civil society groups and the media during the 1980s and after.
                                        Many CSIS staff members also share their knowledge and experience through participation in a range of civil society organizations, including on gender, pluralism, democracy, and governance, and by devoting some of their time to teaching at local universities.</p>
                                </div>
                                <div class="tab-pane fade text-justify" id="fellowship" role="tabpanel" aria-labelledby="profile-tab">
                                    <img src="https://s3-csis-web.s3.amazonaws.com/static/web/logo.png" alt="" class="display: block;
                                    margin: 0 auto;">
                                    <p>The original logo, in bronze, was designed by renowned Indonesian sculptor G. Sidharta. The main elements of the logo - the disc with an engraving of the globe, the youth with an open book on a cloth draped across his lap - combine to project the Centre's nature as an institution, where people think, learn, and share their knowledge. Humanity is their concern and the world their horizon. The youth's bared torso symbolises open-mindedness and the absence of prejudice in the attitude of the scholars who work at the Centre.</p>

                                        <p>The Javanese inscription on the disc, "Nalar Ajar Terusan Budi", conveys the Centre's belief that "to think and share knowledge are the natural consequences of an enlightened mind". It is surya sengkala that is chandra sengkala – a Javanese traditional way to symbolise a comemmorable year in the lunar calendar, adapted to the solar calendar system. These words express the perceived meaning of the commemorated year of CSIS establishment (1971), with each word having a numerical value.</p>
                                </div>
                                <div class="tab-pane fade text-justify" id="internship" role="tabpanel" aria-labelledby="contact-tab">
                                    <p>The Centre for Strategic and International Studies (CSIS) in Jakarta is an independent, non-profit organisation focusing on policy-oriented studies on domestic and international issues. It was established in 1971.</p>
                                    <p><strong>Mission and Philosophy</strong><br />Our mission is to contribute to improved policy making through policy-oriented research, dialogue, and public debate. This is based on the belief that long-term planning and vision for Indonesia and the region must be based on an in-depth understanding of economic, political, and social issues, including regional and international developments. CSIS research and studies are channeled in various forms as independent input to government, universities and research institutions, civil society organizations, media, and business.</p>
                                    <p><strong>Scope of Research</strong><br />CSIS undertakes research in economics, politics and social change, and international relations, with topics selected on the basis of their relevance to public policy. Inter-disciplinary studies are encouraged. In the area of foreign policy, CSIS research is complemented and strengthened by its relations with an extensive network of research, academic, and other organizations worldwide.<br />Regional Partnerships In the wider Asia-Pacific region, CSIS is actively involved with regional and international networks of Track-Two institutions and think-tanks that interact with intergovernmental activities.</p>
                                    <p>This includes hosting the Indonesian National Committee for Pacific Economic Cooperation (INCPEC) for the Pacific Economic Cooperation Council (PECC), the Indonesian Member Committee for the Council for Security Cooperation in Asia Pacific (CSCAP), and the Secretariat for the ASEAN ISIS. CSIS is also a founding institute of the Council for Asia Europe Cooperation (CAEC).<br />Through its active participation in Track-Two activities, CSIS takes part in efforts to promote regional cooperation (ASEAN, Asia Pacific) and intra-regional cooperation (ASEM).</p>
                                    <p><strong>Public Education</strong><br />CSIS has a longstanding commitment to public education through a variety of avenues, including an intensive seminar program, lectures and conferences, and a bookstore. The CSIS library is regarded as one of the best in Indonesia, and an outstanding resource for students, government and diplomatic personnel, the business community, and members of the public.</p>
                                    <p><strong>Publications</strong><br />CSIS has an active publication program covering a wide range of subjects in English and Bahasa Indonesia.<br />These include:</p>
                                    <ul>
                                    <li>Books and monographs covering research undertaken by CSIS;</li>
                                    <li>The Indonesian Quarterly, an English-language journal started in 1974;</li>
                                    <li>Analisis CSIS, a quarterly journal in Bahasa Indonesia, published since 1971;</li>
                                    <li>A clipping service, functional since 1971, prepares and maintains clippings on a range of themes from national and regional newspapers.</li>
                                    <li>CSIS cooperates with the Indonesia Project of the Australian National University in printing and distributing The Bulletin of Indonesian Economic Studies (BIES).</li>
                                    </ul>
                                    <p><strong>Cultural Activities</strong><br />Apart from studies and seminars, CSIS presents cultural performances, including traditional, classical and modern music, wayang performance, documentary film screenings, and exhibitions of paintings and sculpture.</p>
                                    <p><strong>Funding</strong><br />CSIS is funded in part through an establishment endowment fund. It also seeks support for its research programs and regional network activities from foundations, multilateral organisations, and donor institutions. It welcomes donations from groups and individuals.</p>                        </div>
                                                                            
                                                                        
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </section>
       
 {% endblock %}