{% extends 'web/base.html' %}
{% load static %}

{% block content %}
        <section id="page-title" style="background-image: linear-gradient(90deg, rgba(3,1,2,1) 10%, rgba(34,23,17,0.24693627450980393) 72%), url('https://s3-csis-web.s3.ap-southeast-1.amazonaws.com/static/web/1.jpeg'); width: 100%; background-size: cover;">
            <div class="container">
                <div class="page-title text-white text-center" >
                    <h4>About Centre for Strategic and International Studies</h4>
                </div>
            </div>
        </section>
        <!-- Page Content -->

        <section id="page-content" class="sidebar-right">
            <div class="container">
                <div class="row">
                    <div class="content col-lg-12">
                        
                        <div class="space"></div>
                        
                        <div class="tabs tabs-clean">
                            <ul class="nav nav-tabs" id="myTab2" role="tablist">
                                {% for a in Karir %}
                                <li class="nav-item">
                                    <a class="nav-link {% if a.title == qs.title %}active{% endif %}"  href="/careers/{{ a.slug }}" role="tab" >{{ a.title }} </a>
                                </li>
                                {% endfor %}

                            </ul>
                            <div class="tab-content" id="myTabContent2">
                                <div class= "fade show text-justify" >
                                    {{ qs.content | safe }}
                                    {% if qs.link %}
                                   <a href = "{{qs.link}}"><button type="button" class="btn btn-primary btn-reveal">Apply</button></a>
                                   {% endif %}
                                </div>

                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </section>
       
 {% endblock %}