{% extends 'web/base.html' %}
{% load static %}

{% block content %}
        <div id="slider" class="inspiro-slider dots-creative" data-height-xs="360">
            <!-- Slide 1 -->
            <div class="slide" style="background-image:linear-gradient(90deg, rgba(3,1,2,1) 0%, rgba(34,23,17,0.24693627450980393) 57%), url('{% static 'web/bg/hatespeech.jpeg' %}');">
                <div class="bg-overlay"></div>
                <div class="container">
                    <div class="slide-captions text-left text-light col-lg-6">
                        <!-- Captions -->
                        <h3>CSIS HATE SPEECH DASHBOARD</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero enim libero dolor in voluptates architecto rerum accusamus alias omnis ipsum reiciendis officia eaque.</p>
                       <p>read more</p>
                        <!-- end: Captions -->
                    </div>
                </div>
            </div>
            <!-- end: Slide 1 -->
            <!-- Slide 2 -->
            <div class="slide" style="background-image:linear-gradient(90deg, rgba(3,1,2,1) 0%, rgba(34,23,17,0.24693627450980393) 57%), url('{% static 'web/bg/covid.jpeg' %}');">
                <div class="bg-overlay"></div>
                <div class="container">
                    <div class="slide-captions text-left text-light col-lg-6">
                        <!-- Captions -->
                        <h3>COVID-19 DASHBOARD</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero enim libero dolor in voluptates architecto rerum accusamus alias omnis ipsum reiciendis officia eaque.</p>
                       <p>read more</p>
                        <!-- end: Captions -->
                        <!-- end: Captions -->
                    </div>
                </div>
            </div>
            <!-- end: Slide 2 -->
        </div>
        <!--end: Inspiro Slider -->
        <!-- SECTION BOXED GRID -->
        <section >
            <div class="container">
                <div class="row">
                    <div class=" col-lg-9">
                            <div class="heading-text heading-section">
                                <h2 style="font-size: 20px;"><strong>Publications</strong></h2>
                            </div> 
                    <!-- Portfolio -->
                        <div id="portfolio" class="grid-layout col-lg-12 hide-menu-mobile" data-margin="20">
                            {% for a in print %}
                            <!-- portfolio item -->
                            <div class="portfolio-item img-zoom ct-photography ct-media ct-branding ct-Media">
                                <div class="portfolio-item-wrap">
                                    <div class="portfolio-image">
                                        <a href="#"><img src="https://s3-csis-web.s3.ap-southeast-1.amazonaws.com/static/{{a.image}}" alt=""></a>
                                    </div>
                                    <div class="portfolio-description">
                                        <a href="/publication/{{a.title | slugify}}">
                                            <h3>{{a.title}}</h3>
                                            <span>{% for b in a.authors.all %}{{b.name}}{% endfor %} | {{a.category}}</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- end: portfolio item -->
                            {% endfor %}
                            <!-- portfolio item -->
                        </div>
                        <!-- end: Portfolio -->
                        <div id="blog" class="grid-layout col-lg-12" data-item="post-item">
                            <!-- Post item-->
                            <div class="post-item ">
                                <div class="row">
                                {% for a in smallpub %}
                                <div class="post-item-wrap col-lg-4">
                                    <div class="post-image">
                                        <a href="/publication/{{a.title | slugify}}">
                                            <img alt="" src="https://s3-csis-web.s3.ap-southeast-1.amazonaws.com/static/{{a.image}}">
                                        </a>
                                        
                                    </div>
                                    <div class="post-item-description-2">
                                        <h2><a href="/publication/{{a.title | slugify}}">{{a.title}}</a></h2>
                                        <a href="/publication/{{a.title | slugify}}" class="item-link">Read More <i class="icon-chevron-right"></i></a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            </div>
                            <!-- end: Post item-->
                            
                        </div>
                        
                    </div>
                    <div class="col-lg-3">
                        <div class="heading-text heading-section">
                            <h2 style="font-size: 20px;"><strong>Events</strong></h2>
                        </div>
                        <div class="row">
                            {% for c in Acara %}
                            <div class="col-lg-12" data-animate="fadeInUp" data-animate-delay="0">
                                <div class="title-event">
                                    <p>{{c.date_start |date:"d b Y"}}</p>
                                    <h3> <a href="/event/{{c.title|slugify}}" style="text-decoration: none; color: #3c4043 ;">{{c.title}}</a></h3>
                                    <p>{% for a in c.speaker.all %}{{a.name}}, {% endfor %}</p>
                                </div>
                                <div class="line-10 text-justify"></div>
                            </div>
                            {% endfor %}
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section style="background-color: #1B5354">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 text-white">
                        <div class="col-lg-12" data-animate="fadeIn">
                            <div class="heading-text heading-section">
                                <h2 style="font-size: 30px; font-weight: 500;">Newsletter</h2>
                                <p style="font-weight: 400;">Our newsletter covers our recent updates and upcoming programs. You will also find links to commentaries and/or working papers that we publish.</p>
                            </div> 
                        </div>
                    </div> 
                    <div class="col-lg-5">
                        <form class="widget-contact-form" novalidate action="#" role="form" method="post" style="padding-top: 100px;">
                            <div class="row">
                                <div class="form-group col-md-8 col-lg-8">
                                    <label for="email" class="text-white">Email</label>
                                    <input type="email" aria-required="true" required name="widget-contact-form-email" class="form-control required email" placeholder="Enter your Email">
                                </div>
                                <div class="form-group col-md-4 col-lg-4" >
                                    <button class="btn center" type="submit" id="form-submit" style=" bottom: 0;">Subscribe</button>
                                </div>
                            </div>
                        </form>
                    </div>                 
                </div>
            </div>

        </section>
        <!-- end: Services -->
        <!-- end: SECTION BOXED GRID -->
        <section">
        </section>

         <!-- WELCOME -->
         <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="heading-text heading-section">
                            <h2 style="font-size: 20px;">Video</h2>
                        </div>
                        <div class="ratio ratio-16x9">
                            <iframe width="100%" height="auto" src="https://www.youtube.com/embed/N0zzdT42Vb8?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="post-item-description-2" style="padding-top: 30px;">
                            <h3>CSIS Youtube</h3>
                            <p>If you have missed out on our events, check out our YouTube to watch the full recording of them.</p>
                            <a href="https://www.youtube.com/channel/UC32liYPlV2F9r5PVdW8434g" class="btn btn-dark">Explore more</a>
  
                            
                        </div>
                        
                        
                    </div>
                    <div class="col-lg-6">
                        <div id="blog">
                            <!-- Post item-->
                            <div class="post-item ">
                                <div class="heading-text heading-section">
                                    <h2 style="font-size: 20px;">Projects</h2>
                                </div> 
                                <div class="row">
                                      
                                {% for a in Project %}
                                <div class="post-item-wrap col-lg-6" >
                                    <div class="post-image">
                                        <a href="/project/{{a.title | slugify}}">
                                            <img alt="" src="https://s3-csis-web.s3.ap-southeast-1.amazonaws.com/static/{{a.image}}">
                                        </a>
                                        
                                    </div>
                                    <div class="post-item-description-2">
                                        <h2><a href="/project/{{a.title | slugify}}">{{a.title}}</a></h2>
                                    </div>
                                    <div class="line-bottom" style="position:absolute; bottom: 0px;"></div>
                                </div>
                                
                                {% endfor %}
                            </div>
                            </div>
                            <!-- end: Post item-->
                            
                        </div>
                    </div>
                    
                </div>

            </div>
        </section>
        <!-- end: WELCOME -->

 {% endblock %}