{% extends 'web/base.html' %}
{% load static %}

{% block css %}
<style>
    #mainMenu {
    padding: 0;
    border-bottom: 1px solid #4f4f4f !important;
    }
    
    .dark #mainMenu nav > ul > li > a, #mainMenu.dark nav > ul > li > a {
    color: #4d4949;
    }

    .text-right {
        text-align: right !important;
    }
    
    .dark .header-extras .p-dropdown a > span, .dark .header-extras a > i {
    color: #222020;
    }

    #images-pub {
        padding: 0px 0;
    }

    .center-cropped {
        object-fit: none; /* Do not scale the image */
        object-position: center; /* Center the image within the element */
        height: 500px;
        width: 100%;
        }
</style>
{% endblock %}

{% block OG %} 

    <meta property="og:image" content="https://s3-csis-web.s3.ap-southeast-1.amazonaws.com/{{publications.image}}" />
    <meta property="og:image:secure_url" content="{{ request.get_full_path }}" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="300" />
    <meta property="og:image:alt" content="{{publications.description | safe| truncatewords_html:10}}" />

<!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.get_full_path }}">
    <meta property="og:title" content="{{publications.title}}">
    <meta property="og:description" content="{{publications.description | safe| truncatewords_html:10}}">
    <meta property="og:image" content="https://s3-csis-web.s3.ap-southeast-1.amazonaws.com/{{publications.image}}">

    <!-- Twitter -->
    <meta property="twitter:card" content="CSIS Events">
    <meta property="twitter:url" content="{{ request.get_full_path }}">
    <meta property="twitter:title" content="{{acara.title}}">
    <meta property="twitter:description" content="{{publications.description | safe| truncatewords_html:10}} ">
    <meta property="twitter:image" content="https://s3-csis-web.s3.ap-southeast-1.amazonaws.com/{{publications.image}}">
        <!-- Document title -->
{% endblock OG%}

{% block content %}
        <section id="page-title" >
            <div class="container">
                <div class="row">
                <div class="col-lg-6">
                    <div class="page-title text-black text-left" >
                        <h5>{{publications.category}}</h5>
                        <h2>{{publications.title}}</h2>
                        
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="page-title text-black text-right" >
                    <h3>Authors : </h3>
                    <h4>
                        {% for f in publications.authors.all %}
                        <a href="/scholar/{{f.name | slugify}}">
                            <ul style="list-style-type: none;">
                                <li>{{f.name}}<br><p>{{f.position}}<br><span>{{f.organization}}</span></p></li>
                            </ul>
                        </a>
                        {% endfor %}
                    </h4>
                    </div>
                </div>
            </div>
            </div>
        </section>
        <section id="images-pub">

                <img id="images-pub" class="center-cropped" src="https://s3-csis-web.s3.ap-southeast-1.amazonaws.com/{{publications.image}}" alt="">
        {% if publications.image_credit %}
                <div class="container">
                <p style="bottom: 0; font-size: 10px;">{{publications.credit|safe}}</p>
                </div>
        {% else %}
                {{empty}}
        {% endif %}
        </section>
        <!-- Page Content -->
        <section id="page-content" class="sidebar-left">
            <div class="container">
                <div class="row">
                    <!-- content -->
                    <div class="content col-lg-8">
                        <!-- Blog -->
                        <div id="blog" class="single-post">
                            <!-- Post single item-->
                            <div class="post-item">
                                <div class="post-item-wrap">
                                        <div class="text-justify">{{publications.description|safe}}</div>
                                        <div class="post-item-description">
                                            <div class="post-meta">
                                                                                               
                                                <div class="post-meta-share">
                                                    
                                                    <a class="btn btn-xs btn-slide btn-facebook" href="#">
                                                        <i class="fab fa-facebook-f"></i>
                                                        <span>Facebook</span>
                                                    </a>
                                                    <a class="btn btn-xs btn-slide btn-twitter" href="#" data-width="100">
                                                        <i class="fab fa-twitter"></i>
                                                        <span>Twitter</span>
                                                    </a>
                                                    <a class="btn btn-xs btn-slide btn-instagram" href="#" data-width="118">
                                                        <i class="fab fa-linkedin"></i>
                                                        <span>linkedin</span>
                                                    </a>
                                                    <a class="btn btn-xs btn-slide btn-googleplus" href="mailto:#" data-width="80">
                                                        <i class="icon-mail"></i>
                                                        <span>Mail</span>
                                                    </a>
                                                </div>
                                            </div>
                                    </div>
                                   
                                    
                                    <!-- Comments -->
                                    
                                </div>
                            </div>
                            <!-- end: Post single item-->
                        </div>
                    </div>
                    <!-- end: content -->
                    <!-- Sidebar-->
                    <div class="sidebar sticky-sidebar col-lg-4">
                        <!--widget newsletter-->
                        
                        <!--end: widget newsletter-->
                        <h4>download here for more:</h4>
                        <div class="btn-csis">
                            
                            <a href="https://s3-csis-web.s3.ap-southeast-1.amazonaws.com/{{publications.file}}"><button type="button" class="btn btn-primary btn-block btn-reveal"><span>Download</span><i class="fa fa-download"></i></button></a>
                            
                        </div>
                        <!--Tabs with Posts-->
                        <div class="widget">
                            <div class="tabs">
                                <ul class="nav nav-tabs" id="tabs-posts" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#related" role="tab" aria-controls="related" aria-selected="true">Related</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#recent" role="tab" aria-controls="recent" aria-selected="false">Recent</a>
                                    </li>
                                    
                                </ul>
                                <div class="tab-content" id="tabs-posts-content">
                                    <div class="tab-pane fade show active" id="related" role="tabpanel" aria-labelledby="popular-tab">
                                        <div class="post-thumbnail-list">
                                            {% for a in post_related %}
                                            <div class="post-thumbnail-entry">
                                                <img alt="" src="https://s3-csis-web.s3.ap-southeast-1.amazonaws.com/{{a.image}}">
                                                <div class="post-thumbnail-content">
                                                    <a href="/publication/{{a.title | slugify}}">{{a.title}}</a>
                                                    <p class="post-date"><i class="icon-clock"></i> {{a.date_created |date:"d b Y"}}</p>
                                                    
                                                </div>
                                            </div>
                                            {% endfor %}
                                            
                                        </div>
                                    </div>
                                    
                                    <div class="tab-pane fade" id="recent" role="tabpanel" aria-labelledby="recent-tab">
                                        <div class="post-thumbnail-list">
                                            {% for c in post_recent %}
                                            <div class="post-thumbnail-entry">
                                                <img alt="" src="https://s3-csis-web.s3.ap-southeast-1.amazonaws.com/{{c.image}}">
                                                <div class="post-thumbnail-content">
                                                    <a href="/publication/{{c.title|slugify}}">{{c.title}}</a>
                                                    <span class="post-date"><i class="icon-clock"></i> {{c.date_created |date:"d b Y"}}</span>
                                                    
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End: Tabs with Posts-->
                        <!-- Twitter widget -->
                       
                    </div>
                    <!-- end: Sidebar-->
                </div>
            </div>
            
        </section>
        <!-- end: Page Content -->
        <section id="credit">
            <div class="row">
                <hr>
                
            </div>
            
        </section>
        <!-- Footer -->
 {% endblock %}