
{% extends 'web/base.html' %}
{% load static %}

{% block OG %}    <!-- Open Graph / Facebook -->
     {% if pub.name %}
         <title>CSIS {{ pub.name }}</title>
     {% else %}
         <title>CSIS Publications</title>
     {% endif %}

    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.get_full_path }}">
    <meta property="og:title" content="Centre for Strategic and International Studies">
    <meta property="og:description" content="The Centre for Strategic and International Studies (CSIS) in Jakarta is an independent, non-profit organisation focusing on policy-oriented studies on domestic and international issues. It was established in 1971.">
    <meta property="og:image" content="https://s3-csis-web.s3.amazonaws.com/static/web/logo.png">

    <!-- Twitter -->
    {% if pub.name %}
         <meta property="twitter:card" content="CSIS {{ pub.name }}">
     {% else %}
          <meta property="twitter:card" content="CSIS Publications">
     {% endif %}

    <meta property="twitter:url" content="{{ request.get_full_path }}">
    <meta property="twitter:title" content="Centre for Strategic and International Studies">
    <meta property="twitter:description" content="The Centre for Strategic and International Studies (CSIS) in Jakarta is an independent, non-profit organisation focusing on policy-oriented studies on domestic and international issues. It was established in 1971.">
    <meta property="twitter:image" content="https://s3-csis-web.s3.amazonaws.com/static/web/logo.png">
        <!-- Document title -->
{% endblock OG%}



{% block content %}

<section id="page-title" style="background-image:
                                        linear-gradient(90deg, rgba(3,1,2,1) 10%, rgba(34,23,17,0.24693627450980393) 72%),
                                    {% if pub.background %}
                                        url('https://s3-csis-web.s3.ap-southeast-1.amazonaws.com/{{pub.background}}');
                                    {% else %}
                                        url('{% static 'web/bg/publications.jpeg' %}'); 
                                    {% endif %}
                                    width: 100%; 
                                    background-size: cover;">
    <div class="container">
        <div class="page-title text-white col-lg-6 col-m-4" >
            {% if pub.name %}
            <h1>{{ pub.name }}</h1>
            {% else %}
            <h1>Publications</h1>
            {% endif %}
            {% if pub.keterangan %}
            <p>{{pub.keterangan}}</p>
            {% endif %}
        </div>
        
    </div>
</section>
        <!-- Content -->
        <section id="page-content" class="sidebar-right">
            <div class="container">
                <!-- post content -->
                <!-- Page title -->
                <div class="page-title pb-5">
                    <div class="breadcrumb float-left">
                        <ul>
                            <li><a href="{% url 'home' %}">Home</a>
                            </li>
                            <li><a href="{% url 'publication' %}">publications</a>
                            </li>
                            <li>{{pub.name}}</li>
                            
                        </ul>
                    </div>
                </div>
                <hr>
                <!-- end: Page title -->
                <!-- Blog -->
                <form method="get" formaction="/publications/filter/" >
                <div class="row m-b-20">
                    
                    <div class="col-lg-3">
                        <div class="order-select">
                            <h6>filter by Department</h6>
                           
                            
                                <select class="form-select" name="dept_contains" id="dept_contains">
                                    <option value="" selected="selected">----</option>
                                    {% for a in Dept%}
                                    <option value="{{a.name}}">{{a.name}}</option>
                                    {% endfor %}
                                </select>
                            
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="order-select">
                            <h6>filter by Author</h6>
                            
                            
                                <select class="form-select" name="author_contains" id="author_contains">
                                    <option value="" selected="selected">----</option>
                                    {% for a in Scholars %}
                                    <option value="{{a.name}}">{{a.name}}</option>
                                    {% endfor %}
                                </select>
                            
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="order-select">
                            <h6>filter by Categories</h6>
                            
                           
                                <select class="form-select" name="category_contains" id="category_contains">
                                    <option value="" selected="selected">----</option>
                                    {% for a in categories %}
                                    <option value="{{a.name}}">{{a.name}}</option>
                                    {% endfor %}
                                </select>
                           
                        </div>
                    </div>
                   
                    <div class="col-lg-3">
                        <div class="order-select">
                            <h6>Search</h6>
                           
                            <button  type="submit" value="search" formaction="/publications/filter/" class="btn btn-primary btn-block side-video">Submit</button>
                        </div>
                    </div>
                </div>
                </form>
                <div id="blog" class="grid-layout col-lg-12 pt-5" data-item="post-item">
                    <!-- Post item-->
                    <div class="post-item ">
                        <div class="row">
                
                        {% for a in publications %}
                        <div class="post-item-wrap col-lg-4 p-b-10 p-t-5">
                            <div class="post-image">
                                <a href="/publication/{{a.title | slugify}}">
                                    <img alt="" src="https://s3-csis-web.s3.ap-southeast-1.amazonaws.com/{{a.image}}" >
                                </a>
                                
                            </div>
                            <div class="post-item-description-2">
                                <p>{{a.category}}</p>
                                <h2><a href="/publication/{{a.title | slugify}}">{{a.title}}</a></h2>
                                <p>{% for b in a.authors.all %}{% if forloop.first %}{% else %}{% if forloop.last %} and {% else %}, {% endif %}{% endif %}{{b.name}}{% endfor %}</p>
                            </div>
                            <div class="line-bottom" style="position:absolute; bottom: 0px;"></div>
                        </div>
                        {% endfor %}
                   
                    </div>
                    </div>
                    <!-- end: Post item-->
                    
                </div>
                
                <!-- end: Blog -->
                <!-- Pagination -->
                <ul class="pagination">



                    {% if publications.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ publications.previous_page_number }}">« Previous page</a></li>

                      {% if publications.number > 3 %}
                          <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
                        {% if publications.number > 4 %}
                            <li class="page-item"><span class="page-link">...</span></li>
                        {% endif %}
                      {% endif %}
                    {% endif %}
                    
                    {% for num in publications.paginator.page_range %}
                      {% if publications.number == num %}
                          <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                      {% elif num > publications.number|add:'-2' and num < publications.number|add:'2' %}
                          <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                      {% endif %}
                    {% endfor %}
                    
                    {% if publications.has_next %}
                      {% if publications.number < publications.paginator.num_pages|add:'-3' %}
                          <li class="page-item"><span class="page-link">...</span></li>
                          <li class="page-item"><a class="page-link" href="?page={{ publications.paginator.num_pages }}">{{ publications.paginator.num_pages }}</a></li>
                      {% elif publications.number < publications.paginator.num_pages|add:'-2' %}
                          <li class="page-item"><a class="page-link" href="?page={{ publications.paginator.num_pages }}">{{ publications.paginator.num_pages }}</a></li>
                      {% endif %}
                    
                        <li class="page-item"><a class="page-link" href="?page={{ publications.next_page_number }}">Next Page »</a></li>
                    {% endif %}
                
                </ul>
                <!-- end: Pagination -->
            </div>
            <!-- end: post content -->
        </section>
            {% endblock %}