
{% extends 'web/base.html' %}
{% load static %}

{% block content %}

<section id="page-title" style="background-image: url('{% static 'web/bg/publications.jpeg' %}'); width: 100%">
    <div class="container">
        <div class="page-title text-white col-lg-6 col-m-4" >
            <h1>Publications</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat dicta porro omnis, assumenda molestiae quibusdam fugiat illum id sapiente vero, consequatur, possimus atque! Neque facilis deleniti a pariatur sint quibusdam!</p>
        </div>
        
    </div>
</section>
        <!-- Content -->
        <section id="page-content" class="sidebar-right">
            <div class="container">
                <!-- post content -->
                <!-- Page title -->
                <div class="page-title">
                    <div class="breadcrumb float-left">
                        <ul>
                            <li><a href="#">Home</a>
                            </li>
                            <li><a href="#">publications</a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
                <!-- end: Page title -->
                <!-- Blog -->
                <div id="blog" class="grid-layout post-3-columns m-b-30" data-item="post-item" data-stagger="10">
                    {% for a in publications %}
                    <!-- Post item-->
                    <div class="post-item border">
                        <div class="post-item-wrap">
                            <div class="post-image">
                                <a href="#">
                                    <img alt="" src="/media/{{a.image}}">
                                </a>
                            </div>
                            <div class="post-item-description">
                                <span class="post-meta-date"><i class="fa fa-calendar-o"></i>{{a.date_created}}</span>
                                <span class="post-meta-comments"><a href=""><i class="fa fa-comments-o"></i>{% for i in a.authors.all %} {{i.name}} {% endfor %}</a></span>
                                <h2><a href="/publication/{{a.title|slugify}}">{{a.title}}
                                    </a></h2>
                                <p>{{a.description | safe| truncatewords_html:15}}</p>
                                <a href="/publication/{{a.title|slugify}}" class="item-link">Read More <i class="icon-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- end: Post item-->
                    {% endfor %}
                    <!-- Post item-->
                   
                </div>
                <!-- end: Blog -->
                <!-- Pagination -->
                <ul class="pagination">
                    {% if publications.has_previous  %}
                    <li class="page-item"><a class="page-link" href="?page=1"><i class="fa fa-angle-left"></i></a></li>
                    {% endif %}
                    {% for n in publications.paginator.page_range %}
                        {% if publications.number == n %}
                        <li class="page-item"><a class="page-link" href="#">{{ n }}</a></li>
                        {% elif n > publications.number|add:'-2' and n < publications.number|add:'2' %}
                        <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if berita.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ publications.paginator.num_pages }}"><i class="fa fa-angle-right"></i></a></li>
                    {% endif %}

                </ul>
                <!-- end: Pagination -->
            </div>
            <!-- end: post content -->
            {% endblock %}