{% extends 'web/base.html' %}
{% load static %}

{% block content %}

        <!-- Page title -->
        <section id="page-title" style="background-image: url('{% static 'web/bg/researcher.jpeg' %}'); width: 100%">
            <div class="container">
                <div class="page-title text-white col-lg-6" >
                    <h1>Scholars</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat dicta porro omnis, assumenda molestiae quibusdam fugiat illum id sapiente vero, consequatur, possimus atque! Neque facilis deleniti a pariatur sint quibusdam!</p>
                </div>
                
            </div>
        </section>
        <!-- end: Page title -->
        <!-- Content -->
        <section id="page-content">

            <div class="container">
                <!--div class="heading-text heading-section text-left">
                    <span>Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor. The most happiest time of the day!. Morbi sagittis, sem quis lacinia faucibus. </span>
                </div-->
                <div class="row team-members m-b-40">
                    {% for a in scholar %}
                    <div class="col-lg-3">
                        <div class="team-member">
                            <div class="team-image">
                                <img src="/media/{{a.photo}}">
                            </div>
                            <div class="team-desc">
                                <h3><a href="/scholar/{{a.name |slugify}}">{{a.name}}</a></h3>
                                <span>{{a.position}}</span>
                                <p>{{a.description | safe | truncatewords_html:20}}</p>
                                <div class="align-center">
                                    <a class="btn btn-xs btn-slide btn-light" href="#">
                                        <i class="fab fa-facebook-f"></i>
                                        <span>Facebook</span>
                                    </a>
                                    <a class="btn btn-xs btn-slide btn-light" href="#" data-width="100">
                                        <i class="fab fa-twitter"></i>
                                        <span>Twitter</span>
                                    </a>
                                    <a class="btn btn-xs btn-slide btn-light" href="#" data-width="118">
                                        <i class="fab fa-instagram"></i>
                                        <span>Instagram</span>
                                    </a>
                                    <a class="btn btn-xs btn-slide btn-light" href="mailto:#" data-width="80">
                                        <i class="icon-mail"></i>
                                        <span>Mail</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                    
                </div>
            </div>
            
                   

        </section>
        <!-- end: Content -->
        <!-- Footer -->
     {% endblock    %}