{% extends 'web/base.html' %}
{% load static %}

{% block content %}

        <!-- Page title -->
        <section id="page-title" style="background-image: linear-gradient(90deg, rgba(3,1,2,1) 10%, rgba(34,23,17,0.24693627450980393) 72%), url('{% static 'web/bg/researcher.jpeg' %}'); width: 100%">
            <div class="container">
                <div class="page-title text-white col-lg-6" >
                    <h1>Scholars</h1>
                </div>
                
            </div>
        </section>
        <!-- end: Page title -->
        <!-- Content -->
        <section id="page-content">

            <div class="container">
                <!--div class="heading-text heading-section text-left">
                    <span>Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor. The most happiest time of the day!. Morbi sagittis, sem quis lacinia faucibus. </span>
                </div-->
                <div class="row team-members m-b-40">
                    {% for a in scholar %}
                    <div class="col-lg-3">
                        <div class="team-member">
                            <div class="team-image">
                                <img src="https://s3-csis-web.s3.ap-southeast-1.amazonaws.com/{{a.photo}}" style=" border-radius: 50%;">
                            </div>
                            <div class="team-desc">
                                <h3><a href="/scholar/{{a.name |slugify}}">{{a.name}}</a></h3>
                                <span>{{a.position}}</span>
                               <br>
                               <br>
                                <div class="align-center">
                                    {% if a.facebook %}
                                    <a class="btn btn-xs btn-slide btn-light" href="{{a.facebook}}">
                                        <i class="fab fa-facebook-f"></i>
                                        <span>Facebook</span>
                                    </a>
                                    {% else %}
                                        {{empty}}
                                    {% endif %}

                                    {% if a.twitter %}
                                    <a class="btn btn-xs btn-slide btn-light" href="#" data-width="100">
                                        <i class="fab fa-twitter"></i>
                                        <span>Twitter</span>
                                    </a>
                                    {% else %}
                                        {{empty}}
                                    {% endif %}

                                    {% if a.instagram %}
                                    <a class="btn btn-xs btn-slide btn-light" href="#" data-width="118">
                                        <i class="fab fa-instagram"></i>
                                        <span>Instagram</span>
                                    </a>
                                    {% else %}
                                        {{empty}}
                                    {% endif %}
                                    
                                    {% if a.email %}
                                    <a class="btn btn-xs btn-slide btn-light" href="mailto:#" data-width="80">
                                        <i class="icon-mail"></i>
                                        <span>Mail</span>
                                    </a>
                                    {% else %}
                                        {{empty}}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                    
                </div>
            </div>
            
                   

        </section>
        <!-- end: Content -->
        <!-- Footer -->
     {% endblock    %}