{% extends 'web/base.html' %}
{% load static %}

{% block OG %} 
    <title>{{scholar.name}}</title>
    <meta property="og:image" content="https://s3-csis-web.s3.ap-southeast-1.amazonaws.com/{{scholar.photo}}" />
    <meta property="og:image:secure_url" content="{{ request.get_full_path }}" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="300" />
    <meta property="og:image:alt" content="{{scholar.description | safe| truncatewords_html:10}}" />

<!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.get_full_path }}">
    <meta property="og:title" content="{{scholar.title}}">
    <meta property="og:description" content="{{scholar.description | safe| truncatewords_html:10}}">

    <!-- Twitter -->
    <meta property="twitter:card" content="{{ scholar.name }}">
    <meta property="twitter:url" content="{{ request.get_full_path }}">
    <meta property="twitter:title" content="{{scholar.name}}">
    <meta property="twitter:description" content="{{scholar.description | safe| truncatewords_html:10}} ">
    <meta property="twitter:image" content="https://s3-csis-web.s3.ap-southeast-1.amazonaws.com/{{scholar.photo}}">
        <!-- Document title -->
{% endblock OG%}

{% block content %}
        <section id="page-title" style="background-color:#005354; width: 100%">
            <div class="container text-center">
                <div class="row">
                    <div class="profile col-lg-4" style="padding-right: 100px;">
                        <img src="https://s3-csis-web.s3.ap-southeast-1.amazonaws.com/{{scholar.photo}}" style="max-height: 300px; border-radius: 50%;" alt="">
                    </div>
                    <div class="text-white text-right col-lg-8" >
                        <h2>{{scholar.name}}</h2>
                        <h3>{{scholar.position}}</h3>
                        <h4>{{ count }} Publications {% if extpub_count %} , {{ extpub_count }} External Publications {% endif %}</h4>
                        <div class="align-center p-t-5">
                                    {% if scholar.facebook %}
                                    <a class="btn btn-xs btn-slide btn-info" href="{{scholar.facebook}}">
                                        <i class="fab fa-facebook-f"></i>
                                        <span>Facebook</span>
                                    </a>
                                    {% endif %}

                                    {% if scholar.twitter %}
                                    <a class="btn btn-xs btn-slide btn-info" href="{{ scholar.twitter }}" data-width="100">
                                        <i class="fab fa-twitter"></i>
                                        <span>Twitter</span>
                                    </a>
                                    {% endif %}

                                    {% if scholar.linkedin %}
                                    <a class="btn btn-xs btn-slide btn-info" href="{{ scholar.linkedin }}" data-width="118">
                                        <i class="fab fa-linkedin"></i>
                                        <span>Linkedin</span>
                                    </a>

                                    {% endif %}

                                    {% if scholar.email %}
                                    <a class="btn btn-xs btn-slide btn-info" href="mailto:{{ scholar.email }}" data-width="80">
                                        <i class="icon-mail"></i>
                                        <span>Mail</span>
                                    </a>
                                    {% endif %}
                                </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row  m-b-50">
                    <div class="col-lg-3">
                        <div class="heading-text heading-section">
                            <h4 class="text-end">About<br>{{scholar.name}}</h4>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-12 text-justify">{{scholar.description| safe}}
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
    {% if publication %}
        <section class="bg-light">
            <div class="container ">
                <div class="row  m-b-50">
                    <div class="col-lg-3">
                        <div class="heading-text heading-section">
                            <h4 class="text-end">Latest <br>Publications</h4>
                        </div>
                    </div>
                    
                    <div class="col-lg-9">

                        <div id="blog" class="grid-layout col-lg-12 pt-5" data-item="post-item">
                            <!-- Post item-->
                            <div class="post-item ">
                                <div class="row">
                                {% for a in publication %}
                                <div class="post-item-wrap col-lg-4">
                                    
                                    <div class="post-item-description-2 pb-lg-3">
                                        <p>{{a.category}}</p>
                                        <h2><a href="/publication/{{a.title | slugify}}">{{a.title}}</a></h2>
                                        <p>{% for b in a.authors.all %}{% if forloop.first %}{% else %}{% if forloop.last %} and {% else %}, {% endif %}{% endif %}{{b.name}}{% endfor %}</p>
                                    </div>
                                    <div class="line-bottom" style="position:absolute; bottom: 0px;"></div>
                                </div>
                                {% endfor %}


                        
                            </div>
                            </div>
                            <!-- end: Post item-->
                            
                        </div>
                        
                        <!-- end: Blog -->


                    </div>
                </div>
                
            </div>
        </section>
    {% endif %}
        {% if extpub %}
        <section>
            <div class="container ">
                <div class="row  m-b-50">
                    <div class="col-lg-3">
                        <div class="heading-text heading-section">
                            <h4 class="text-end">External <br>Publications</h4>
                        </div>
                    </div>

                    <div class="col-lg-9">

                        <div id="blog" class="grid-layout col-lg-12 pt-5" data-item="post-item">
                            <!-- Post item-->
                            <div class="post-item ">
                                <div class="row">

                                {% for a in extpub %}
                                <div class="post-item-wrap col-lg-4">

                                    <div class="post-item-description-2 pb-lg-3">
                                        <p>{{a.get_category_display}}</p>
                                        <h2><a href="{{ a.link }}">{{a.title}}</a></h2>
                                        <p>{{ a.source }} | {{ a.date }}{% if a.file %}| <a href="{{ a.file }}">Download</a>{% endif %}</p>
                                    </div>
                                    <div class="line-bottom" style="position:absolute; bottom: 0px;"></div>
                                </div>
                                {% endfor %}

                            </div>
                            </div>
                            <!-- end: Post item-->

                        </div>

                        <!-- end: Blog -->


                    </div>
                </div>

            </div>
        </section>

        {% endif %}
        <!-- end: SECTION FULLSCREEN -->
    </div>
   {% endblock %}
