{% extends 'web/base.html' %}
{% load static %}
{% block OG %}    <!-- Open Graph / Facebook -->

    <title>Search</title>


    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.get_full_path }}">
    <meta property="og:title" content="Centre for Strategic and International Studies">
    <meta property="og:description" content="The Centre for Strategic and International Studies (CSIS) in Jakarta is an independent, non-profit organisation focusing on policy-oriented studies on domestic and international issues. It was established in 1971.">
    <meta property="og:image" content="https://s3-csis-web.s3.amazonaws.com/static/web/logo.png">

    <!-- Twitter -->
    {% if pub.name %}
         <meta property="twitter:card" content="CSIS {{ pub.name }}">
     {% else %}
          <meta property="twitter:card" content="CSIS Publications">
     {% endif %}

    <meta property="twitter:url" content="{{ request.get_full_path }}">
    <meta property="twitter:title" content="Centre for Strategic and International Studies">
    <meta property="twitter:description" content="The Centre for Strategic and International Studies (CSIS) in Jakarta is an independent, non-profit organisation focusing on policy-oriented studies on domestic and international issues. It was established in 1971.">
    <meta property="twitter:image" content="https://s3-csis-web.s3.amazonaws.com/static/web/logo.png">
        <!-- Document title -->
{% endblock OG%}


{% block css %}
<style>
    #mainMenu {
    padding: 0;
    border-bottom: 1px solid #4f4f4f !important;
    }
    
    .dark #mainMenu nav > ul > li > a, #mainMenu.dark nav > ul > li > a {
    color: #4d4949;
    }

    .text-right {
        text-align: right !important;
    }
    
    .dark .header-extras .p-dropdown a > span, .dark .header-extras a > i {
    color: #222020;
    }

    #images-pub {
        padding: 0px 0;
    }

    .center-cropped {
        object-fit: none; /* Do not scale the image */
        object-position: center; /* Center the image within the element */
        height: 500px;
        width: 100%;
        }
</style>
{% endblock %}


{% block content %}
        <!-- end: Header -->
        <!-- Content -->
        <section id="page-content" class="sidebar-right">
            <div class="container">
                <div class="row">
                    <!-- post content -->
                    <div class="content col-lg-12">
                        <!-- Page title -->
                        <div class="page-title">
                            {% if q %}
                                <h1>Posts containing "{{ q }}"
                                    {% if c %}
                                    In category "{{ c }}"
                                    {% endif %}
                                </h1>
                            <p>{% with results.count as total_results %}
                                Found {{ total_results }} result{{ total_results|pluralize }}
                                {% endwith %}</p>
                            <hr>
                        </div>
                        <!-- end: Page title -->
                        <!-- Blog -->
                        <div id="blog" class="post-thumbnails">
                            <!-- Post item-->
                            {% for post in results %}
                            <div class="post-item">
                                <div class="post-item-wrap">
                                    <div class="post-image p-b-10">
                                        <a href=/publication/{{post.title | slugify}}">
                                            <img alt="" src="https://s3-csis-web.s3.ap-southeast-1.amazonaws.com/{{post.image}}" style="max-height: 300px; width: auto">
                                        </a>
                                    </div>
                                    <div class="post-item-description">
                                        <span class="post-meta-date"><i class="fa fa-calendar-o"></i>{{post.date_publish}}</span>
                                        <span class="post-meta-comments"><a href=""><i class="fa fa-comments-o"></i>{% for a in post.authors.all %}{% if forloop.first %}{% else %}{% if forloop.last %} and {% else %}, {% endif %}{% endif %}{{a.name}}{% endfor %}</a></span>
                                        <h2><a href="/publication/{{post.title | slugify}}">{{post.title}}</a></h2>
                                        <p class="post-meta-category">{{post.category}}</p>
                                       {{post.description | safe |truncatechars_html:200 }}
                                        <a href="/publication/{{post.title | slugify}}" class="item-link">Read More <i class="icon-chevron-right"></i></a>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            <!-- end: Post item-->
                            {% empty %}
                            <p>There are no results for your query.</p>
                            {% endfor %}
                           
                            {% else %}
                            <h1>Search for posts</h1>
                            <form method="get">
                                {{ form.as_p }}
                                <input class="btn btn-primary my-1" type="submit" value="Search">
                            </form>
                            {% endif %}
                        </div>
                        <!-- end: Blog -->
                        <!-- Pagination -->
                       
                    </div>
                    <!-- end: post content -->
                </div>
            </div>
        </section>
        <!-- end: Content -->
        <!-- Footer -->
{% endblock %}